<!DOCTYPE html>
<html lang="zxx" class="js">
  <head>
    <base href="../" />
    <meta charset="utf-8" />
    <meta name="author" content="Softnio" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers." />
    <link rel="shortcut icon" href="/app/assets/images/favicon.png" />
    <title>Import | Document Controller</title>
    <link rel="stylesheet" href="/app/assets/css/dashlite.css" />
    <link id="skin-default" rel="stylesheet" href="/app/assets/css/theme.css" />
    <style>
      .nk-tb-item .nk-tb-col:first-child {
        padding-left: 10px;
      }
      .nk-tb-col:first-child {
        width: 30px;
        min-width: 30px;
        max-width: 30px;
      }
      .nk-tb-col:nth-child(2) {
        width: 350px;
        min-width: 350px;
        max-width: 350px;
      }
      .nk-tb-col:nth-child(4) {
        width: 300px;
        min-width: 300px;
        max-width: 300px;
      }
      .nk-tb-col:nth-child(5) {
        width: 350px;
        min-width: 350px;
        max-width: 350px;
      }
      .nk-tb-col {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 5px 15px;
        width: 170px;
        min-width: 170px;
        max-width: 170px;
      }
    </style>
  </head>

  <body class="nk-body bg-lighter npc-general has-sidebar">
    <div class="nk-app-root">
      <div class="nk-main">
        <%- include('./common/sidebar' , {active : "Documents"}); -%>
        <div class="nk-wrap">
          <%- include('./common/navbar'); -%>
          <div class="nk-content">
            <div class="container-fluid">
              <div class="nk-content-inner">
                <div class="nk-content-body">
                  <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                      <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">Import Excel</h3>
                      </div>
                      <div class="nk-block-head-content">
                        <div class="toggle-wrap nk-block-tools-toggle">
                          <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                          <div class="toggle-expand-content" data-content="pageMenu">
                            <ul class="nk-block-tools g-3">
                              <li class="nk-block-tools-opt">
                                <a href="<%= format_link %>" class="preview-item" download="import_excel_format.xlsx">
                                  <button type="button" class="btn btn-primary">
                                    <em class="icon ni ni-download-cloud" style="font-size: 13px"></em>
                                    &nbsp; Download Format
                                  </button>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="nk-block nk-block-lg">
                    <div class="card">
                      <div class="card-inner">
                        <div class="card-head">
                          <h5 class="card-title">Upload Form</h5>
                        </div>
                        <form id="excelForm" class="form-validate is-alter">
                          <div class="row g-4">
                            <div class="col-lg-4">
                              <div class="form-group">
                                <label class="form-label" for="doc_site">Site</label>
                                <div class="form-control-wrap">
                                  <select class="form-select form-control js-select2" id="doc_site" name="doc_site" data-placeholder="Select Site" required>
                                    <option label="empty" value=""></option>
                                    <% sites.forEach(function(site) { %>
                                    <option value="<%= site.site_name %>" data-parent-id="<%= site.site_id %>"><%= site.site_name %></option>
                                    <% }); %>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="form-label" for="doc_folder">Folder</label>
                                <div class="form-control-wrap">
                                  <select class="form-select form-control js-select2" id="doc_folder" name="doc_folder" data-placeholder="Select Folder" required>
                                    <option label="empty" value=""></option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="form-label" for="doc_type">Type</label>
                                <div class="form-control-wrap">
                                  <select class="form-select form-control js-select2" id="doc_type" name="doc_type" data-placeholder="Select Type" required>
                                    <option label="empty" value=""></option>
                                    <option value="INCOMING">INCOMING</option>
                                    <option value="OUTGOING">OUTGOING</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="form-label" for="doc_file">Upload Excel</label>
                                <div class="form-control-wrap">
                                  <input type="file" accept=".xlsx" class="form-control" placeholder="Upload File" id="doc_file" name="doc_file" required />
                                </div>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="form-group">
                                <button id="uploadExcelButton" type="submit" class="btn btn-primary">Upload Excel</button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%- include('./common/footer'); -%>
        </div>
      </div>
    </div>
    <script src="/app/assets/js/bundle.js"></script>
    <script src="/app/assets/js/scripts.js"></script>
    <script>
      let folders = `<%- JSON.stringify(folders) %>`;
      folders = folders ? JSON.parse(folders) : [];

      $("#doc_site").on("change", function () {
        $("#doc_folder").val("");
        var selectedSiteParentId = $(this).find("option:selected").data("parent-id");
        var folderSelect = $("#doc_folder");
        folderSelect.val("");
        folderSelect.empty().append('<option label="empty" value=""></option>');
        folders.forEach(function (folder) {
          if (folder.site_parent_id == selectedSiteParentId) {
            folderSelect.append('<option data-site-id="' + folder.site_id + '" value="' + folder.site_name + '">' + folder.site_name + "</option>");
          }
        });
      });

      $("#excelForm").submit(function (event) {
        event.preventDefault();

        if (!this.checkValidity()) {
          return false;
        }
        NioApp.handleButtonState("uploadExcelButton", "Upload Excel", true);
        let formData = new FormData(this);

        $.ajax({
          type: "POST",
          url: "/docs/import-excel-document",
          data: formData,
          processData: false,
          contentType: false,
          success: function (response) {
            if (response.status == 1) {
              NioApp.handleButtonState("uploadExcelButton", "Upload Excel", false);
              NioApp.Toast("<h5>Document Uploaded</h5><p>Excel Uploaded Successfully</p>", "success");
            } else {
              NioApp.handleButtonState("uploadExcelButton", "Upload Excel", false);
              NioApp.Toast(`<h5>Something Went Wrong</h5><p>${response.msg}</p>`, "error");
            }
          },
          error: function (xhr, status, error) {
            NioApp.handleButtonState("uploadExcelButton", "Upload Excel", false);
            NioApp.Toast("<h5>Something Went Wrong</h5><p>Error while uploading Document</p>", "error");
            console.error("Error saving draft:", error);
          },
        });
      });
    </script>
  </body>
</html>
