<!DOCTYPE html>
<html lang="zxx" class="js">
  <head>
    <base href="../" />
    <meta charset="utf-8" />
    <meta name="author" content="Softnio" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers." />
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="/app/assets/images/favicon.png" />
    <!-- Page Title  -->
    <title>Documents | Document Controller</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="/app/assets/css/dashlite.css" />
    <link id="skin-default" rel="stylesheet" href="/app/assets/css/theme.css" />
  </head>

  <body class="nk-body bg-lighter npc-general has-sidebar">
    <div class="nk-app-root">
      <div class="nk-main">
        <%- include('./common/sidebar'); -%>
        <div class="nk-wrap">
          <%- include('./common/navbar'); -%>
          <div class="nk-content">
            <div class="container-fluid">
              <div class="nk-content-inner">
                <div class="nk-content-body">
                  <div class="nk-block nk-block-lg">
                    <div class="nk-block-head nk-block-head-sm">
                      <div class="nk-block-between g-3">
                        <div class="nk-block-head-content"><h3 class="nk-block-title page-title">View Document</h3><div class="nk-block-des text-soft"><ul class="list-inline"><li>Application ID: <span class="text-primary"><%=documentData.doc_number%></span></li><li>Submited At: <span class="text-base"><%=documentData.doc_uploaded_at%></span></li></ul></div></div>

                        <div class="nk-block-head-content">
                          <a href="/documents" class="btn btn-outline-light bg-white d-none d-sm-inline-flex"><em class="icon ni ni-arrow-left"></em><span>Back</span></a>
                        </div>
                      </div>
                    </div>
                    <div class="card card-bordered">
                      <div class="card-inner">
                        <form id="documentForm" class="form-validate is-alter">
                          <div class="row g-gs">
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="form-label" for="doc_site">Site</label>
                                <div class="form-control-wrap">
                                    <select class="form-select form-control js-select2" id="doc_site" name="doc_site" data-placeholder="Select Site" required disabled>
                                        <option label="empty" value=""></option>
                                        <% sites.forEach(function(site) { %>
                                          <option value="<%= site.site_name %>" data-parent-id="<%= site.site_id %>" <%= documentData && documentData.doc_site == site.site_name ? 'selected' : '' %>><%= site.site_name %></option>
                                        <% }); %>
                                    </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="form-label" for="doc_folder">Folder</label>
                                <div class="form-control-wrap">
                                  <select class="form-select form-control js-select2" id="doc_folder" name="doc_folder" data-placeholder="Select Folder" required disabled>
                                    <option label="empty" value=""></option>
                                    <% folders.forEach(function(folder) { %>
                                      <% if (documentData && documentData.doc_site && folder.site_parent_name == documentData.doc_site) { %>
                                        <option value="<%= folder.site_name %>" data-site-id="<%= folder.site_id %>" <%= documentData.doc_folder == folder.site_name ? 'selected' : '' %>><%= folder.site_name %></option>
                                      <% } %>
                                    <% }); %>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="form-label" for="doc_type">Type</label>
                                <div class="form-control-wrap">
                                  <select class="form-select form-control js-select2" id="doc_type" name="doc_type" data-placeholder="Select Type" disabled>
                                    <option label="empty" value=""></option>
                                    <option value="INCOMING" <%= documentData && documentData.doc_type === 'INCOMING' ? 'selected' : '' %>>INCOMING</option>
                                    <option value="OUTGOING" <%= documentData && documentData.doc_type === 'OUTGOING' ? 'selected' : '' %>>OUTGOING</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="form-label" for="doc_number">Number</label>
                                <div class="form-control-wrap">
                                  <input type="text" class="form-control" placeholder="Document Number" id="doc_number" name="doc_number" value="<%= documentData ? documentData.doc_number : '' %>" required disabled/>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-8">
                              <div class="form-group">
                                <label class="form-label" for="doc_reference">Reference</label>
                                <div class="form-control-wrap">
                                  <select class="form-select form-control js-select2" id="doc_reference" name="doc_reference" data-placeholder="Select Reference" multiple disabled>
                                    <option label="empty" value=""></option>
                                    <% var references = documentData && documentData.doc_reference ? documentData.doc_reference.split(',') : []; %>
                                    <% references.forEach(function(reference) { %>
                                      <option value="<%= reference.trim() %>" selected><%= reference.trim() %></option>
                                    <% }); %>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label" for="doc_replied_vide">Replied Vide</label>
                                    <div class="form-control-wrap">
                                        <select class="form-select form-control js-select2" id="doc_replied_vide" name="doc_replied_vide" data-placeholder="Select Replied Vide" multiple disabled>
                                            <option label="empty" value=""></option>
                                            <% var replied_vide = documentData && documentData.doc_replied_vide ? documentData.doc_replied_vide.split(',') : []; %>
                                            <% replied_vide.forEach(function(replies) { %>
                                            <option value="<%= replies.trim() %>" selected><%= replies.trim() %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="form-label" for="doc_subject">Subject</label>
                                <div class="form-control-wrap">
                                  <input type="text" class="form-control" placeholder="Document Subject" id="doc_subject" name="doc_subject" value="<%= documentData ? documentData.doc_subject : '' %>" required disabled/>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="form-label" for="doc_storage_location">Storage Location</label>
                                <div class="form-control-wrap">
                                  <input type="text" class="form-control" placeholder="Storage Location" id="doc_storage_location" name="doc_storage_location" value="<%= documentData ? documentData.doc_storage_location : '' %>" required disabled/>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="form-label" for="doc_purpose">Purpose</label>
                                <div class="form-control-wrap">
                                  <input type="text" class="form-control" placeholder="Document Purpose" id="doc_purpose" name="doc_purpose" value="<%= documentData ? documentData.doc_purpose : '' %>" required disabled/>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                <label class="form-label" for="doc_created_at">Document Date</label>
                                <div class="form-control-wrap focused">
                                  <div class="form-icon form-icon-right"><em class="icon ni ni-calendar-alt"></em></div>
                                  <input type="text" required id="doc_created_at" name="doc_created_at" placeholder="Document Date" class="form-control date-picker" value="<%= documentData ? documentData.doc_created_at : '' %>" disabled/>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="form-label" for="doc_from"> From</label>
                                <div class="form-control-wrap">
                                  <input type="text" class="form-control" placeholder="From" id="doc_from" name="doc_from" value="<%= documentData ? documentData.doc_from : '' %>" required disabled/>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="form-label" for="doc_to"> To</label>
                                <div class="form-control-wrap">
                                  <input type="text" class="form-control" placeholder="To" id="doc_to" name="doc_to" value="<%= documentData ? documentData.doc_to : '' %>" required disabled/>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="form-label" for="doc_confidential">Confidential</label>
                                <div class="form-control-wrap">
                                  <select class="form-select form-control js-select2 form-control" id="doc_confidential" name="doc_confidential" data-placeholder="Select Option.." required disabled>
                                    <option label="empty" value=""></option>
                                    <option value="true" <%= documentData && documentData.doc_confidential ? 'selected' : '' %>>Yes</option>
                                    <option value="false" <%= documentData && !documentData.doc_confidential ? 'selected' : '' %>>No</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="form-label" for="doc_file">View File</label>
                                <div class="form-control-wrap">
                                  <a target="_blank" href="<%=documentData.doc_pdf_link%>" id="doc_file" class="btn btn-primary">View File</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%- include('./common/footer'); -%>
        </div>
      </div>
    </div>
    <script src="/app/assets/js/bundle.js"></script>
    <script src="/app/assets/js/scripts.js"></script>
  </body>
</html>
